*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
body{
    font-family: "Sofia Sans", serif;
    background-color: #191010;
    overflow-x:hidden ;
}