.play__button {
    max-width: 52px;
    border-radius: 50%;
}

.hero_trust {
    max-width: 139px;
    border-radius: 100px;
    margin-bottom: 11px;
}



.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__title {
    font-size: 58px;
    font-weight: 900;
    color: white;
    margin-bottom: 43.5px;

}


.hero__title::before {
    content: "";
    width: 84px;
    height: 74px;
    position: absolute;
    top: 60px;
    left: calc(50% + 190px);
    background-image: url(/pomidor.svg);
    background-repeat: no-repeat;
    background-size: cover;

}
.hero__title::after {
    content: "";
    width: 263px;
    height: 8px;
    position: absolute;
    top: 200px;
    left: calc(50% - 050px);
    background-image: url(/Decore.svg);
    background-repeat: no-repeat;
    background-size: cover;

}
.hero__content {
    max-width: 530px;
    position: relative;
}

.hero__span {
    color: #F54748;
}

.hero__span-2 {
    color: #FDC55E;
}

.hero__text {
    font-size: 24px;
    color: white;
    margin-bottom: 27px;
}

.hero__input-div {
    padding: 8px 9px 5px 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 471px;
    border-radius: 100px;
    border: 0.5px solid #FFFFFF;
    position: relative;
    background-color: #0D0D0D;
    margin-bottom: 44px;
}

.hero_input {
    border: none;
    background-color: transparent;
    font-size: 18px;
    width: 100%;
}

.hero__input-div::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url(/input\ before\ search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 17px;
}

.hero_play-div {
    display: flex;
    align-items: center;
}

.hero_links {
    display: flex;
    gap: 31px;
}

.hero__watch {
    text-decoration: none;
    color: white;
    margin-left: 21px;
}

// .hero_pizza-women-div::before {
//     content: "";
//     width: 718px;
//     height: 312px;
//     position: absolute;
//     top:0;
//     right: -600px;
//     background-image: url(/hero\ decor\ chiziq.svg);
//     background-repeat: no-repeat;
//     background-size: contain;

// }
@media only screen and (max-width:1216px){
    .hero__title::after{
        top: 200px;
    }
    .hero__title::before{
        top: 160px;
        left: calc(50% + 170px);
    }
    .hero_pizza-women{
        max-width: 589px;
    }
}
@media only screen and (max-width:1123px){

    .hero__title::before{
        top: 160px;
        left: calc(50% + 150px);
    }

}
@media only screen and (max-width:1076px){
    .hero__title::after{
        top: 260px;
    }
    .hero__title::before{
        top: 160px;
        left: calc(50% + 110px);
    }
    .hero_pizza-women{
        max-width: 589px;
    }
}
@media only screen and (max-width:983px){
    .hero__title::after{
        top: 330px;
    }
    .hero__title::before{
        top: 160px;
        left: calc(50% + 110px);
    }
    .hero_pizza-women{
        max-width: 589px;
    }
}
@media only screen and (max-width:940px){
    .hero__title::after{
        top: 330px;
        display: none;
    }
    .hero__title::before{
        top: -70px;
        left: calc(50% + 110px);
    }
    .hero_pizza-women{
        max-width: 589px;
    }
    .hero__title{
        font-size: 40px;

    }
    .hero_pizza-women{
        max-width: 466px;
    }
    .hero__text{
        font-size: 18px;
    }
}
@media only screen and (max-width:830px){
    .hero_pizza-women{
        max-width: 366px;
    }
}
@media only screen and (max-width:715px){
    .hero__inner{
        flex-direction: column-reverse;
    }
    .hero_pizza-women{
        width: 100%;
    }
    .hero__title{
        font-size: 48px;

    }

    .hero__text{
        font-size: 20px;
    }
}
@media only screen and (max-width:420px){
    .hero_pizza-women{
        width: 80%;
    }
    .hero__title{
        font-size: 40px;

    }

    .hero__text{
        font-size: 16px;
    }
}
@media only screen and (max-width:400px){
    .hero_pizza-women{
        width: 200px;
    }
    .hero__title{
        font-size: 35px;

    }

    .hero__text{
        font-size: 12px;
    }
    .hero__input-div {
        padding: 8px 9px 5px 51px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 471px;
        border-radius: 100px;
        border: 0.5px solid #FFFFFF;
        position: relative;
        background-color: #0D0D0D;
        margin-bottom: 44px;
    }
}
@media only screen and (max-width:388px){
    .hero_pizza-women{
        width: 200px;
    }
    .hero__title{
        font-size: 30px;

    }

    .hero__text{
        font-size: 9px;
    }

}